<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div id='map' style="position: absolute; top: 0; bottom: 0; width: 100%;"></div>
