<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
<ion-button (click)="scan()" fill="outline" style=" position: absolute; top:45%; left:40%;">
  scan
</ion-button>
</ion-content>
